<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
 <router xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-um-router-isis-cfg">
   <isis>
    <processes>
     <process>
      <process-id>IGP</process-id>
      <is-type>level-2-only</is-type>
      <nets>
       <net>
        <net-id>{{igp.net}}</net-id>
       </net>
      </nets>
      <segment-routing>
       <global-block>
        <lower-bound-of-srgb>100000</lower-bound-of-srgb>
        <upper-bound-of-srgb>100999</upper-bound-of-srgb>
       </global-block>
      </segment-routing>
      <address-families>
       <address-family>
        <af-name>ipv4</af-name>
        <saf-name>unicast</saf-name>
        <metric-style>
         <wide/>
        </metric-style>
         <microloop>
        <avoidance>
         <enable>
          <segment-routing/>
         </enable>
        </avoidance>
        </microloop>
        <router-id>
         <interface-name>Loopback0</interface-name>
        </router-id>
        <segment-routing>
         <mpls>
          <sr-prefer></sr-prefer>
         </mpls>
        </segment-routing>
       </address-family>
      </address-families>
      <interfaces>
       <interface>
        <interface-name>Loopback0</interface-name>
        <circuit-type>level-2-only</circuit-type>
        <address-families>
         <address-family>
          <af-name>ipv4</af-name>
          <saf-name>unicast</saf-name>
          <prefix-sid>
           <index>
            <index-id>{{igp.sid}}</index-id>
           </index>
          </prefix-sid>
         </address-family>
        </address-families>
       </interface>
{% for intf in igp.int %}       
       <interface>
        <interface-name>GigabitEthernet{{intf.name}}</interface-name>
        <circuit-type>level-2-only</circuit-type>
        <point-to-point></point-to-point>
        <address-families>
         <address-family>
          <af-name>ipv4</af-name>
          <saf-name>unicast</saf-name>
          <fast-reroute>
           <enable>
            <per-prefix></per-prefix>
           </enable>
           <per-prefix>
            <ti-lfa></ti-lfa>
           </per-prefix>
          </fast-reroute>
         </address-family>
        </address-families>
       </interface>
{% endfor %}      
      </interfaces>
     </process>
    </processes>
   </isis>
 </router>
</config>
