<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">	
  <configure xmlns="urn:nokia.com:sros:ns:yang:sr:conf" xmlns:nokia-attr="urn:nokia.com:sros:ns:yang:sr:attributes">
    <router xmlns="urn:nokia.com:sros:ns:yang:sr:conf" xmlns:nokia-attr="urn:nokia.com:sros:ns:yang:sr:attributes">	
      <router-name>Base</router-name>
      <isis>
        <isis-instance>0</isis-instance>
        <admin-state>enable</admin-state>
        <advertise-router-capability>as</advertise-router-capability>
        <ipv4-routing>true</ipv4-routing>
        <level-capability>2</level-capability>
        <area-address>49.0001</area-address>
        <loopfree-alternate>
            <remote-lfa>
                <node-protect>
                </node-protect>
            </remote-lfa>
            <ti-lfa>
                <node-protect>
                </node-protect>
            </ti-lfa>
        </loopfree-alternate>
        <segment-routing>
            <admin-state>enable</admin-state>
            <prefix-sid-range>
                <global></global>
            </prefix-sid-range>
        </segment-routing>
        <interface>
            <interface-name>system</interface-name>
            <admin-state>enable</admin-state>
            <level-capability>2</level-capability>
            <ipv4-node-sid>
                <index>{{igp.sid}}</index>
            </ipv4-node-sid>
        </interface>
{% for intf in igp.int %}      
        <interface>
            <interface-name>{{intf.name}}</interface-name>
            <admin-state>enable</admin-state>
            <interface-type>point-to-point</interface-type>
            <level-capability>2</level-capability>
        </interface>
{% endfor %}      
        <level>
            <level-number>2</level-number>
            <wide-metrics-only>true</wide-metrics-only>
        </level>
      </isis>
    </router>    
  </configure>  
</config>