<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <configure xmlns="urn:nokia.com:sros:ns:yang:sr:conf" xmlns:nokia-attr="urn:nokia.com:sros:ns:yang:sr:attributes">
    <service>
      <vpls>
          <service-name>{{vpls.name}}</service-name>
          <admin-state>enable</admin-state>
          <service-id>{{vpls.id}}</service-id>
          <customer>1</customer>
          <stp>
              <admin-state>disable</admin-state>
          </stp>
          <bgp>
              <bgp-instance>1</bgp-instance>
              <route-distinguisher>{{bgp.as}}:{{vpls.id}}</route-distinguisher>
          </bgp>
          <bgp-evpn>
              <evi>{{vpls.id}}</evi>
              <mpls>
                  <bgp-instance>1</bgp-instance>
                  <admin-state>enable</admin-state>
                  <control-word>true</control-word>
                  <ingress-replication-bum-label>true</ingress-replication-bum-label>
                  <ecmp>2</ecmp>
                  <auto-bind-tunnel>
                      <resolution>filter</resolution>
                      <resolution-filter>
                          <sr-isis>true</sr-isis>
                      </resolution-filter>
                  </auto-bind-tunnel>
              </mpls>
          </bgp-evpn>
{% for intf in item.interfaces %} 
          <sap>
              <sap-id>{{intf.vpls_int}}:{{intf.vpls_vlan}}</sap-id>
              <admin-state>enable</admin-state>
          </sap>
{% endfor %} 
      </vpls>
    </service> 
  </configure>  
</config>